<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.karen.cohen"
        versionCode = "1" 
        version     = "1.0" >


    <!-- versionCode is optional and Android only -->

    <name>Karen-Cohen</name>

    <description>
        Allows user to share the page on a social network
    </description>

    <author href="https://www.karen-cohen.com" email="karencohen4847@outlook.com">
        Karen Cohen
    </author>

        <gap:plugin name="nl.x-services.plugins.socialsharing" />

</widget>